/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Spectral:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

:root {
    --mainColor: red;
    --heading-font: 'Poppins', sans-serif;
    --heading-bold: 700;
    /* --body-font: 'Merriweather', serif; */
    --body-font: 'Poppins', sans-serif;
    --light: 300;
    --regular: 500;
    --bold: 600;
}

h3,
h5 {
    font-family: var(--body-font);
    font-weight: var(--bold);
    text-transform: capitalize;
}

p {
    font-family: var(--body-font);
    font-weight: var(--light);
}

a {
    text-decoration: none !important;
}

ul {
    font-family: var(--body-font);
    list-style: inside;
    text-transform: capitalize;
}
.mainbtn{
    background-color: #0B4C84 !important;
}
/* container */
.mid_container {
    height: 70vh;
}

.center {
    justify-content: center !important;
    align-items: center !important;
}

.test {
    margin-left: 100px !important;
}


/* navbar css */
.nav-link {
    padding-left: 20px !important;
    font-family: var(--body-font);
    font-weight: var(--light) !important;
}

.nav-tabs .nav-link {
    color: black !important;
}

.nav-tabs .nav-link.active {
    background-color: black !important;
    color: white !important;
}

.navbar-brand {
    font-family: var(--heading-font);
    font-weight: var(--heading-bold) !important;
    font-size: 36px !important;
}


/* slider css */
.carousel .carousel-item {
    height: 90vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

/* destication card */
.card-img-top {
    height: 60%;
    object-fit: cover;
}

.card {
    margin-bottom: 1rem;
    width: 17rem !important;
    height: 24rem !important;
    font-family: var(--body-font);
    font-weight: var(--light);
    text-transform: capitalize;
}

.card a {
    color: #0B4C84 !important;
    text-decoration: none;
}



/* filter conatiner */
.filter_conatiner {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--body-font);
    font-weight: var(--regular);
    text-transform: capitalize;
}

label {
    margin-right: 5px;
}


/* destination description */

.destination_image {
    height: 80vh;
    margin-left: 0;
}

.destination_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.destination_description {
    margin-left: 15px;
}

.destination_description button {
    margin-right: 10px;
    padding: 6px 15px;
    border: 0;
    text-align: center;
    background-color: #0B4C84;
    color: white;
    font-size: 16px;
    border-radius: 15px;

}

.destination_description i {
    margin-right: 7px;
}

.fa-solid {
    margin-right: 0.2rem;
    font-size: 16px;
}

.dropshadow {
    box-shadow: 0 2px 5px 0 rgb(155 250 155 / 20%), 0 2px 10px 0 rgb(255 192 192 / 10%);
    border-radius: 50%;
}
.more_desc_conatiner{
    padding: 15px;
    height: 380px;
    overflow-y: scroll;
    margin-bottom: 2rem;
}
.more_desc_conatiner::-webkit-scrollbar-track {
    margin: 5px 0;
    border-radius: 10px;
    background-color: lightgray;
  }
  .more_desc_conatiner::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
  }
 .more_desc_conatiner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0B4C84;
}

/* things to do  */

.tabcontainer {
    width: 100%;
    height: 65vh;
    display: flex;
}

.tabcontainer div {
    width: 50%;
    height: 100%;
    padding: 1rem 2rem;
}

.tabcontainer div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5rem 0 5rem 0;
}

.tabcontainer div p {
    line-height: 30px;
    font-size: 18px;
    padding: 2.5rem 1rem;
    background-color: rgba(235, 235, 235, 0.33);
    border-radius: 0 5rem 0 0;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: var(--light);
}

/* gallery */
.gallery_conatiner{
    overflow: auto;
    width: 90vw;
    position: relative;
}
.fa-angle-right{
position: absolute;
top: 45%;
right: -40px;
font-size: 52px;
}
.imagescroll{
    display: inline-flex;
    margin: 0.5rem 0;
}

/* .gallery_conatiner::-webkit-scrollbar-track {
    margin: 5px 0;
    border-radius: 10px;
    background-color: lightgray;
  }
  .gallery_conatiner::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
  }
 .gallery_conatiner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0B4C84;
} */
.gallery_image{
    width: 28rem;
    height: 22rem;
    position: relative;
    margin:  1rem;
}
.gallery_image img{
    width: 100%;
    height: 100%;
}
.image_credit{
    background-color: rgba(240, 248, 255, 0.272);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 5px;
}
.image_search{
    border: 1px solid;
    width: 15rem;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    margin: 30px;
}
.image_search input{
     border: none;
    width: 80%;
    outline: none;
}
.image_search input:active{
    border: none;
    outline: none;
}
.image_upload{
    color: #0B4C84 !important;
    cursor: pointer;
}




/* media responsive */
@media (max-width: 720px) {
    .description_desc_container {
        flex-direction: column;
    }

    .destination_image {
        width: 100vw;
        height: 60vh;
        padding: 1rem;
        margin-left: 0;
    }

    .destination_description {
        width: 100vw;
        padding: 2rem;
    }

    .filter_conatiner {
        flex-direction: column;
    }

    .filter_conatiner div {
        margin: 10px 0;
    }

    .tabcontainer {
        flex-direction: column;
    }

    .tabcontainer div {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .tabcontainer div img {
        border-radius: 3rem 0 3rem 0;
    }

    .tabcontainer div p {
        letter-spacing: 0;
        line-height: 25px;
        font-size: 14px;
        padding: 1rem;
        border-radius: 0 3rem 0 0;
    }
    
    .mid_container {
        height: auto;
    }

}